body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: #1f253d;
    font-size: 12px;
    padding: 20px;
}
section.container {
    max-width: 500px;
}
h1 {
    margin: 30px 0 20px 0;
}

.box {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}

.quote {
    background: linear-gradient(90deg, hsl(227, 27%, 10%) 0%, hsl(227, 27%, 20%) 100%);
}
.qa {
    background: linear-gradient(90deg, hsl(215, 54%, 10%) 0%, hsl(215, 54%, 20%) 100%);
}
.qa *:nth-child(2n + 1) {
    color: bisque;
    font-weight: bold;
    text-transform: uppercase;
}
.qa *:nth-child(2n) {
    margin-bottom: 10px;
}

p {
    line-height: 2;
}
