body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: #1f253d;
}
section.container {
    max-width: 500px;
}
h1 {
    margin: 50px 0 20px 0;
}

.box {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
}

.quote {
    background: linear-gradient(90deg, hsl(227, 27%, 25%) 0%, hsl(227, 27%, 45%) 100%);
}
.qa {
    background: linear-gradient(90deg, hsl(215, 54%, 25%) 0%, hsl(215, 54%, 55%) 100%);
}
.qa * {
    margin-bottom: 20px;
}

.quoestion {
    color: bisque;
    font-weight: bold;
}
